# Import necessary modules
from decimal import Decimal
{%- if candlestick_configuration %}
from hummingbot.data_feed.candles_feed.candles_factory import CandlesConfig, CandlesFactory
{% endif %}
{%- if strategy_info.base_class == 'DirectionalStrategyBase' -%}
from hummingbot.strategy.directional_strategy_base import DirectionalStrategyBase
{%- elif strategy_info.base_class == 'ScriptStrategyBase' -%}
from hummingbot.strategy.script_strategy_base import ScriptStrategyBase
{%- endif %}

# Strategy Class Definition
class {{ strategy_info.name }}({{ strategy_info.base_class }}):
    # Strategy Metadata
    strategy_name: str = "{{ strategy_info.name }}"
    {#- Initialize market parameters -#}
    {%- include 'market_config.j2' %}
        
    {#- Initialize trade parameters -#}
    {% include 'trade_parameters.j2' %}

    {#- Initialize candlestick configuration -#}
    {% include 'candlestick_config.j2' %}

    {#- Initialize indicator parameters -#}
    {% include 'setup_indicators.j2' %}
    
    {%- if strategy_info.type == "PMM" %}
    {% include 'order_management.j2' %}
    {%- endif %}

        
    {#- Other initializations, if any -#}

    {#- Indicator process logic -#}
    {%- if candlestick_configuration %}
    {% include 'get_processed_df.j2' %}
    {%- endif %}

    {#- Signal generation logic -#}
    {%- if signal_conditions %}
    {% include 'signal_generation.j2' %}
    {%- endif %}
