    
    
    def get_signal(self):
        candles_df = self.get_processed_df()
        # Check for buy conditions
        {%- for condition in signal_conditions.buy_conditions %}
        if candles_df["{{ condition.indicator }}"].iat[-1] {{ condition.operator }} {{ condition.value }}:
            return 1
        {% endfor -%}
        # Check for sell conditions
        {%- for condition in signal_conditions.sell_conditions %}
        elif candles_df["{{ condition.indicator }}"].iat[-1] {{ condition.operator }} {{ condition.value }}:
            return -1
        {% endfor -%}
        # Default to hold if no conditions met
        else:
            return 0

